{% extends "layout.html" %}

{%block content%} 
<section class="about " id="about">
    <div class="heading ">
        <h2>ABOUT US</h2>
    </div>
    <div class="content ">
        <div class="contentBx w50 ">
            <h3>We recommend Movies :).</h3>
            <p>We seek to get the user suitable movies for his taste with the highest possible success rate in the least time without effort.

                “We believe that searching for something you don't already know is a difficult process and we are working to make it easier
                
            </p>
        </div>
        <div class="contentBx w50 ">
            <img src="static\2014.jpg" width="400" height="500" class="img" style="border-radius: 12px;">


        </div>
    </div>
</section>
{%endblock content%}
