{% extends "layout.html" %}
{% block content %}
<section class="services landing__container " id="services">
    <div class="heading white ">
        <h1>Our Movies</h1>
        <p>Your Movie like How You Feel.</p>
    </div>
    <div class="content ">
        <div class="servicesBx ">
            <div class="imagebx"><img src="static/5000.jpg" width="318" height="159"></div>
            <h2> Movie 1</h2>
            <p>Mark items as watched More info  Collect items you own digitally or on disc More info  Watchlist items you want to watch More info Find where to watch online More info Rate items on a scale of 1 to 10.</p>
        </div>
        <div class="servicesBx ">
           
             <div class="imagebx"><img src="static/download (1).jpg"></div>
          
            
             <h2> Movie 2</h2>
            <p>time-saving & easy to use free & no registration watch trailers directly only high-quality movies special recommendations for movie dates special categories.</p>
        </div>
        <div class="servicesBx ">
            <div class="imagebx"><img src="static/download (2).jpg"></div>
            <h2> Movie 3</h2>
            <p>Watching movies is fun, but figuring out what movie to watch next is a nerve-racking experience. Endlessly scrolling through Netflix, watching trailers on YouTube, wasting half an hour and still cannot decide what to watch.</p>
        </div>
       
       
    </div>
</section>
{%endblock content%}